<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    

</head>
    <body>       
        <!--Add a nav bar here -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>                        
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav> 
        <!--Add review form here -->
        
        <div class="container mt-5">
            <form action="{% url 'djangoapp:add_review' dealer_id=dealerId %}" method="post" >                                
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="date-own form-control" type="text" name="name" id="name">
                </div>
                <div class="">                    
                    <label for="purchasedate">Purchased before ? </label>
                    <input type="checkbox" data-toggle="switch" {{ form.instance.hot|yesno:"checked,'',''" }} name="purchasecheck" id="purchasecheck" value="true">
                    <select name="car" id="car" class="form-select" required>
                        {% for car in cars %}
                            <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="purchasedate">Purchase Date</label>
                    <input class="date-own form-control" type="datetime-local" name="purchasedate" id="purchasedate">
                </div>
                <div class="form-group">
                    <label for="content">Your Comments</label>
                    <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>                
            </form>
            {% if post_result %}
                {% if post_result.data.ok %}
                    <h2>Review saved successfully</h2>
                {% else %}
                    <h2>Review could not be saved </h2>
                {% endif %}
            {% endif %}
        </div>        
    </body>    
</html>